{% extends 'base.html' %}
{% block content %}
<h2>Painel Administrativo</h2>
<form class="mb-4" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
  <div class="input-group">
    <input type="file" name="file" class="form-control">
    <button class="btn btn-success">Importar CSV</button>
  </div>
</form>
<table class="table table-striped">
  <thead><tr><th>Nome</th><th>CPF</th><th>Código</th><th>Curso</th></tr></thead>
  <tbody>
  {% for c in certs %}
    <tr><td>{{ c.nome }}</td><td>{{ c.cpf }}</td><td>{{ c.codigo }}</td><td>{{ c.curso }}</td></tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
