{% extends 'base.html' %}
{% block content %}
<h2>Certificado Encontrado</h2>
<ul class="list-group">
  <li class="list-group-item"><strong>Nome:</strong> {{ cert.nome }}</li>
  <li class="list-group-item"><strong>CPF:</strong> {{ cert.cpf }}</li>
  <li class="list-group-item"><strong>Código:</strong> {{ cert.codigo }}</li>
  <li class="list-group-item"><strong>Curso:</strong> {{ cert.curso }}</li>
  <li class="list-group-item"><strong>Carga Horária:</strong> {{ cert.cargaHoraria }}</li>
  <li class="list-group-item"><strong>Data de Emissão:</strong> {{ cert.dataEmissao }}</li>
  <li class="list-group-item"><strong>Instituição:</strong> {{ cert.instituicao }}</li>
</ul>
<a href="#" onclick="window.print()" class="btn btn-secondary mt-3">Imprimir validação</a>
{% endblock %}
